#if ($newWord)
  <p>You successfuly create new word</p>
#elseif ($newDefinition)
 <p>You successfuly create new definition</p>
#else
  <p>Something gone wrong</p>
#end

<a href="/">Back to main paige</a>
